{% extends 'calculator_app/base.html' %}


{% block content %}
<h1>Suck my fat cock</h1>

<!-- 
<form action = "{% url 'results_interest' %}" method = "POST">

	{% csrf_token %}


	<label for = 1>Enter a number: </label>
	<input type = "text" name = "num1" id = 1>
	
	<br>

	<label for = 2>Enter another number: </label>
	<input type = "text" name = "num2" id = 2>


	<input type = "submit" value = "submit">





</form>

 -->
<h2> Hi, this is my first website. It allows you to calculate periodic compound interests and also allows you to calculate loan predictions. Enjoy
	
	</h2>


<a href = "{% url 'interest_calculator' %}">Get started with the interest rate calculator</a>



{% endblock content %}