{% extends 'calculator_app/base.html' %}


{% block content %}


<div class = "container">

<h1>Loan Calculator Coming soon!</h1>
<h3>The Loan calculator app calculates the fixed monthly payments you can make for a given time period in which 
	you're willing to payoff your loan!</h3>

<form action = "{% url 'loan_calculator' %}" autocomplete = "paid-off" method = "POST">
	{% csrf_token %}
	<label for = "loan_amount">Enter the loan amount to be paid-off: </label>
	<input type = "text" id = "loan_amount" name = "loan_amt">


	<br><br>


	<label for = "interest_rate">Enter the annual interest rate: </label>
	<input type = "text" id = "interest_rate" name = "interest">

	<br><br>

	<label for = "time-period">Enter the time period: </label>
	<input type = "text" id = "time-period" name = "time_period">

	<select name = "time_interval">
		<option value = "Years">Years</option>
		<option value = "Months">Months</option>
	</select>


	<br><br>


	<input type = "submit" value = "Submit">


</form>




{% if data_entered %}

	{{ amount }}
	{{ interest }}
	{{ time_period }}
	{{ time_interval }}
	<br>
	if statement reached, inputs should be dispalyed
	<br>

{% if valid_data %}

	The final answer is: {{ monthly_amount }}
	<br>

{% elif not valid_data %}
	The data entered is invalid for some reason bitch!
	<br>

{% endif %}


{% elif not data_entered %}

	No data submitted. 
{% endif %}



Is parameter checker value is {{ valid_data }}


{{ a }}



<!-- ending container division -->
</div>


{% endblock content %}